{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery.min.js' %}"></script>
    <title>Title</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Welcome to yor program</h1>
    <p>Please enter your data to database</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="well well-lg">
                <form action="{% url 'report' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Date:</label>
                        <input type="text" class="form-control" name="date">

                    </div>
                    <div class="form-group">
                        <label>toothbrush:</label>
                        <input type="text" class="form-control" name="toothbrush">

                    </div>
                    <div class="form-group">
                        <label>sport:</label>
                        <input type="text" class="form-control" name="sport">
                    </div>
                    <input type="submit" value="Save" class="btn btn-primary btn-block">


                </form>
            </div>
        </div>
        <div class="col-sm-4">

        </div>

    </div>

</div>
</body>
</html>